{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "trailingComma": "none",
  "pluginSearchDirs": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
